.word{
    text-align: center;

}
.form-group{
    width: 100;
    height: min-content;
    padding: 8px;
    border-radius: 1px;
    border: 1px solid;
    background: #fff;
    text-align: center;
    
    margin-left: 50px;
    margin-right: 50px;
    box-sizing: border-box;
}

.card{
    background: #fff;
    border: 0;
    margin-top: 20px;
}
.container{
    background: #fff;
}
